@css {
  @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,300);
}

shadowed()
  border 1px solid #ccc
  box-shadow 0 0 30px rgba(0,0,0,0.2)

*
  margin 0
  padding 0

body
  color #222
  font-family 'Roboto Slab', sans-serif;
  font-weight 300

#wrapper
  width 1200px
  margin 0 auto

h1
  text-align center
  font-weight 100
  font-size 4em

#playground
  width 1160px
  height 500px
  margin 20px
  shadowed()

#dbg
  margin 20px
  padding 10px
  shadowed()
