doctype html
html
  head
    link(rel='stylesheet', href='style.css', type='text/css')
  body
    #wrapper
      h1 Spline playground
      canvas#playground(width='1160', height='500')
      pre#dbg
    script(src='bundle.js')
